*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

.options{
  width:370px;
  height: 160px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.options input{
  width: 350px;
  outline:0;
  height:60px;
  border:0px;
  padding:1.5em;
}

form{
  display:block;
  position: relative;
  height:auto;
  padding:2em;
  background-color:darkgrey;
}

.drop-down{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  bottom:10px;
  left:0px;
  height:auto;
  width:350px;
  overflow: hidden;
}

.drop-down li{
  display: block;
  list-style: none;
  padding:1.2em;
  text-align: left;
  border:1px solid #000;
}